/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 1.75em;
}

h2 {
/*  text-align: center;*/
  font-size: 1.75em;
}

p {
  margin: 0px;
  border: 1px solid black;
  background-color: #cecece;
  width: 100%;
  padding: 35px 15px 15px 15px;
}

section {
  margin: 0px;
  border: 1px solid black;
  float: right;
  width: 125px;
  height: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

.container {
  width: 100%;
}

#header-nav {
  background-color: #cecece;
}

.navbar-brand {
  font-size: 2.25em;
}

.navbar-toggle {
  background-color: #ffffff;
}

.navbar-toggle.collapsed {
  border: 1px solid black;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  position: relative;
  left: -6px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 0 5px;
  border-radius: 10px;
}

#nav-list a {
  color: #000000;
  font-size: 1.25em;
  text-align: center;
}

#nav-list a:hover {
  background: #f0f0f0;
}

#chicken {
  background-color: #ffe7d1;
}

#beef {
  background-color: #d1fff1;
}

#fish {
  background-color: #ffd1f5;
}

/********** Large devices only **********/

/********** Medium devices only **********/
